<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- 게시글 등록 -->
	<entry key="insertBoard">
		INSERT INTO BOARD(BOARD_NO,
							MEMBER_NO,
							TITLE,
							CONTENT,
							COUNT,
							CREATE_DATE,
							CATEGORY)
					VALUES(SEQ_BNO.NEXTVAL,
							?,
							?,
							?,
							0,
							SYSDATE,
							?)
	</entry>
	
	<!-- 중고거래 등록 -->
	<entry key="insertFlea">
		INSERT INTO FLEAMARKET(BOARD_NO,
								SUB_CATEGORY,
								PRICE,
								CATEGORY)
					VALUES(SEQ_BNO.CURRVAL,
							?,
							?,
							1)
	</entry>
	
	<!-- 동네가게 등록 -->
	<entry key="insertStores">
		INSERT INTO STORES(BOARD_NO,
							SUB_CATEGORY,
							OPEN_TIME,
							CLOSE_TIME,
							ADDRESS,
							CATEGORY)
					VALUES(SEQ_BNO.CURRVAL,
							?,
							?,
							?,
							?,
							2)
	</entry>
	
	<!-- 알바 등록 -->
	<entry key="insertJobs">
		INSERT INTO JOBS(BOARD_NO,
						ADDRESS,
						JOB_DATE,
						CATEGORY)
					VALUES(SEQ_BNO.CURRVAL,
							?,
							?,
							3)
	</entry>
	
	<!-- 첨부파일 등록 -->
	<entry key="insertAttach">
		INSERT INTO ATTACHMENT(FILE_NO,
								BOARD_NO,
								AT_NAME,
								AT_CHANGE,
								AT_PATH,
								AT_DATE,
								FILE_LEVEL)
					VALUES(SEQ_ANO.NEXTVAL,
							SEQ_BNO.CURRVAL,
							?,
							?,
							?,
							SYSDATE,
							?)
	</entry>
	
	<!-- 카테고리별 총 게시물 수 -->
	<entry key="boardTotalCount">
		SELECT COUNT(*) COUNT
		FROM BOARD
		WHERE CATEGORY = ?
	</entry>
	
	<!-- 중고거래 카테고리 검색시 총 게시물 수 -->
	<entry key="fleaTotalCount">
		SELECT COUNT(*) COUNT
		FROM BOARD B
		JOIN FLEAMARKET USING(BOARD_NO)
		WHERE B.CATEGORY = ?
		AND SUB_CATEGORY = ?
	</entry>
	<!-- 동네가게 카테고리 검색시 총 게시물 수 -->
	<entry key="storeTotalCount">
		SELECT COUNT(*) COUNT
		FROM BOARD B
		JOIN STORES USING(BOARD_NO)
		WHERE B.CATEGORY = ?
		AND SUB_CATEGORY = ?
	</entry>
	<!-- 알바 카테고리 검색시 총 게시물 수 -->
	<entry key="jobTotalCount">
		SELECT COUNT(*) COUNT
		FROM BOARD B
		JOIN JOBS J USING(BOARD_NO)
		WHERE B.CATEGORY = ?
		AND J.ADDRESS LIKE '%'||?||'%'
	</entry>
	
	<!-- 중고거래 리스트 조회 -->
	<entry key="selectFleaList">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
		        FROM (SELECT BOARD_NO, MEMBER_NO, TITLE, COUNT, B.CATEGORY CATEGORY, PRICE,
		                     ADDRESS, AT_PATH||AT_CHANGE "TITLEIMG"
		                FROM BOARD B
		                JOIN FLEAMARKET USING(BOARD_NO)
		                JOIN MEMBER USING(MEMBER_NO)
		                JOIN ATTACHMENT USING(BOARD_NO)
		                WHERE B.CATEGORY = ?
		                ORDER BY CREATE_DATE DESC)A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<!-- 동네가게 리스트 조회 -->
	<entry key="selectStoreList">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
		        FROM (SELECT BOARD_NO, MEMBER_NO, TITLE, CONTENT, COUNT, B.CATEGORY CATEGORY, SUB_CATEGORY,
		                     S.ADDRESS, AT_PATH||AT_CHANGE "TITLEIMG"
		                FROM BOARD B
		                JOIN STORES S USING(BOARD_NO)
		                JOIN MEMBER USING(MEMBER_NO)
		                JOIN ATTACHMENT USING(BOARD_NO)
		                WHERE B.CATEGORY = ?
		                ORDER BY CREATE_DATE DESC)A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<!-- 알바 리스트 조회 -->
	<entry key="selectJobList">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
		        FROM (SELECT BOARD_NO, MEMBER_NO, TITLE, COUNT, B.CATEGORY CATEGORY,
		                    J.ADDRESS, AT_PATH||AT_CHANGE "TITLEIMG"
		                FROM BOARD B
		                JOIN JOBS J USING(BOARD_NO)
		                JOIN MEMBER USING(MEMBER_NO)
		                JOIN ATTACHMENT USING(BOARD_NO)
		                WHERE B.CATEGORY = ?
		                ORDER BY CREATE_DATE DESC)A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 중고거래 중 서브 카테고리 검색시 게시글 리스트 조회 -->
	<entry key="selectFleaCateList">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
		        FROM (SELECT BOARD_NO, MEMBER_NO, TITLE, COUNT, F.SUB_CATEGORY SUB_CATEGORY, PRICE,
		                        ADDRESS, AT_PATH||AT_CHANGE "TITLEIMG"
		                FROM BOARD B
		                JOIN FLEAMARKET F USING(BOARD_NO)
		                JOIN MEMBER USING(MEMBER_NO)
		                JOIN ATTACHMENT USING(BOARD_NO)
		                WHERE B.CATEGORY = ?
		                AND SUB_CATEGORY = ?
		                ORDER BY CREATE_DATE DESC)A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<!-- 동네가게 중 서브 카테고리 검색시 게시글 리스트 조회 -->
	<entry key="selectStoreCateList">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
		        FROM (SELECT BOARD_NO, MEMBER_NO, TITLE, CONTENT, COUNT, B.CATEGORY CATEGORY, SUB_CATEGORY,
		                     S.ADDRESS, AT_PATH||AT_CHANGE "TITLEIMG"
		                FROM BOARD B
		                JOIN STORES S USING(BOARD_NO)
		                JOIN MEMBER USING(MEMBER_NO)
		                JOIN ATTACHMENT USING(BOARD_NO)
		                WHERE B.CATEGORY = ?
		                AND SUB_CATEGORY = ?
		                ORDER BY CREATE_DATE DESC)A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<!-- 알바 중 서브 주소 검색시 게시글 리스트 조회 -->
	<entry key="selectJobCateList">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
		        FROM (SELECT BOARD_NO, MEMBER_NO, TITLE, COUNT, J.CATEGORY,
		                        J.ADDRESS, AT_PATH||AT_CHANGE "TITLEIMG"
		                FROM BOARD B
		                JOIN JOBS J USING(BOARD_NO)
		                JOIN MEMBER USING(MEMBER_NO)
		                JOIN ATTACHMENT USING(BOARD_NO)
		                WHERE B.CATEGORY = ?
		                AND J.ADDRESS LIKE '%'||?||'%'
		                ORDER BY CREATE_DATE DESC)A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 게시글 조회 -->
	<!-- 중고거래 게시글 조회 -->
	<entry key="fleaDetail">
		SELECT BOARD_NO, MEMBER_NO, MEMBER_ID "WRITER", TITLE, CONTENT, COUNT, B.CATEGORY, PRICE, SUB_CATEGORY,
				ADDRESS, PROFILE_IMG, AT_PATH||AT_CHANGE "TITLEIMG"
		FROM BOARD B
		JOIN MEMBER USING(MEMBER_NO)
		JOIN FLEAMARKET USING(BOARD_NO)
		JOIN ATTACHMENT USING(BOARD_NO)
		WHERE B.CATEGORY = ?
		AND BOARD_NO = ?
	</entry>
	<!-- 동네가게 게시글 조회 -->
	<entry key="storeDetail">
		SELECT BOARD_NO, MEMBER_NO, MEMBER_ID "WRITER", TITLE, CONTENT, COUNT, B.CATEGORY, SUB_CATEGORY,
		        OPEN_TIME, CLOSE_TIME, S.ADDRESS, AT_PATH||AT_CHANGE "TITLEIMG", PROFILE_IMG
		FROM BOARD B
		JOIN MEMBER USING(MEMBER_NO)
		JOIN STORES S USING(BOARD_NO)
		JOIN ATTACHMENT USING(BOARD_NO)
		WHERE B.CATEGORY = ?
		AND BOARD_NO = ?
	</entry>
	<!-- 알바 게시글 조회 -->
	<entry key="jobDetail">
		SELECT BOARD_NO, MEMBER_NO, MEMBER_ID "WRITER", TITLE, COUNT, CONTENT, B.CATEGORY,
		        J.ADDRESS, TO_CHAR(JOB_DATE, 'YYYY"년" MM"월" DD"일"' ) "JOB_DATE", PROFILE_IMG, AT_PATH||AT_CHANGE "TITLEIMG"
		FROM BOARD B
		JOIN MEMBER USING(MEMBER_NO)
		JOIN JOBS J USING(BOARD_NO)
		JOIN ATTACHMENT USING(BOARD_NO)
		WHERE B.CATEGORY = ?
		AND BOARD_NO = ?
	</entry>
	
	<!-- 게시글 삭제 -->
	<entry key="deleteBoard">
		DELETE BOARD
		WHERE BOARD_NO = ?
	</entry>
	<!-- 파일 삭제 -->
	<entry key="deleteAttach">
		DELETE ATTACHMENT
		WHERE BOARD_NO = ?
	</entry>
	<!-- 플리마켓 삭제 -->
	<entry key="deleteFlea">
		DELETE FLEAMARKET
		WHERE BOARD_NO = ?
	</entry>
	
	<!-- 게시글 수정 -->
	<entry key="updateBoard">
		UPDATE BOARD
		SET TITLE = ?,
		    CONTENT = ?
		WHERE BOARD_NO = ?
	</entry>
	<!-- 중고거래 수정 -->
	<entry key="updateFlea">
		UPDATE FLEAMARKET
		SET SUB_CATEGORY = ?,
		    PRICE = ?
		WHERE BOARD_NO = ?
	</entry>
	<!-- 동네가게 수정 -->
	<entry key="updateStores">
		UPDATE STORES
		SET SUB_CATEGORY = ?,
		    OPEN_TIME = ?,
		    CLOSE_TIME = ?,
		    ADDRESS = ?
		WHERE BOARD_NO = ?
	</entry>
	<!-- 알바 수정 -->
	<entry key="updateJobs">
		UPDATE JOBS
		SET ADDRESS = ?,
		    JOB_DATE = ?
		WHERE BOARD_NO = ?
	</entry>
	<!-- 첨부파일 수정 -->
	<entry key="updateAttach">
		UPDATE ATTACHMENT
		SET AT_NAME = ?,
		    AT_CHANGE = ?,
		    AT_PATH = ?,
		    AT_DATE = SYSDATE,
		    FILE_LEVEL = ?
		WHERE BOARD_NO = ?
	</entry>

	<!-- 조회수 업 -->
	<entry key="countUp">
		UPDATE BOARD
		SET COUNT = COUNT+1
		WHERE BOARD_NO = ?
	</entry>
</properties>