<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 댓글 작성 -->
	<entry key="insertReply">
		INSERT INTO REPLY(REPLY_NO,
                    BOARD_NO,
                    MEMBER_NO,
                    CONTENT,
                    CREATE_DATE,
                    SECRET)
            VALUES(SEQ_RNO.nextval,
                    ?,
                    ?,
                    ?,
                    SYSDATE,
                    ?)
	</entry>
	
	<!-- 댓글 목록 불러오기 -->
	<entry key="selectReply">
		SELECT REPLY_NO, BOARD_NO, MEMBER_NO, CONTENT, CREATE_DATE, SECRET, PROFILE_IMG
		FROM REPLY
		JOIN MEMBER USING (MEMBER_NO)
		WHERE BOARD_NO = ?
		ORDER BY CREATE_DATE DESC
	</entry>
	
	<!-- 댓글 삭제 -->
	<entry key="deleteReply">
		DELETE REPLY
		WHERE REPLY_NO = ?
	</entry>
	
</properties>